<template>
  <div class="chart-elem">
    <highcharts class="chart" :options="chartOptions"></highcharts>
  </div>
</template>

<script>
import Api from './../services/api'
export default {
  name: 'Chart',
  data() {
    return {
      api: new Api(),
      chartOptions: {
        chart: {
          type: "spline"
        },
        yAxis: {
          labels: {
            enabled: true,
            formatter: function()
            {
              return this.value + "%"
            }
          }
        },
        xAxis: {
          categories: [],
          tickInterval: 1,
          labels: {
            enabled: true,
          }
        },
        title: {
          text: "User onboarding process flow completion"
        },
        series: []
      }
    };
  },
  created() {
    this.api.getUserOnboardingFlowChart().then((data) => {
      this.setSeries(data.data.cohorts);
    }).catch((e) => {
      alert(e);
    })
  },
  methods: {
    setSeries: function(cohorts)
    {
      Object.entries(cohorts).forEach(
          ([key, value]) => {
            this.chartOptions.series.push({
              data: value.data,
              name: "week: "+key
            })
            this.updateLabels(value.data)
          }
      );
    },
    updateLabels(data)
    {
      data.forEach((points) => {
        if(!this.chartOptions.xAxis.categories.includes(points[0]))
        {
          this.chartOptions.xAxis.categories.push(points[0]);
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
